@import "tailwindcss";

@theme {
  --font-display: "Crimson Text", serif;
  --font-body: "DM Sans", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

@layer components {
  .display {
    font-family: var(--font-display);
    font-size: 160px;
    line-height: 0.9;
  }

  .h1 {
    font-family: var(--font-display);
    font-size: 60px;
    line-height: 0.9;
  }

  .h2 {
    font-family: var(--font-display);
    font-size: 40px;
    line-height: 1;
  }

  .h3 {
    font-family: var(--font-display);
    font-size: 18px;
    line-height: 1;
  }

  .p {
    font-family: var(--font-body);
    font-size: 15px;
    line-height: 1.4;
  }

  .link {
    font-family: var(--font-body);
    font-size: 14px;
    line-height: 1.4;
  }

  .caption {
    font-family: var(--font-mono);
    font-size: 12px;
    line-height: 1.4;
  }
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
